<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="card bg-dark text-right">
        <img class="card-img" src="/assets/img1.jpg" alt="Card image" />
      </div>
      <div class="card-img-overlay">
        <h5 class="card-title">2023 DrySuits</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card bg-dark text-right">
        <img class="card-img" src="/assets/img3.jpg" alt="Card image" />
        <div class="card-img-overlay">
          <h1 class="card-title">AAAA</h1>
          <p class="card-text bg-info float-right">AAAAAA</p>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <img
                src="assets/img2.jpg"
                class="rounded-start min-vw-100"
                alt="..."
              />
            </div>
            <div class="col-md-4">
              <div class="h-25card-body position-absolute end-0 bottom-50">
                <h5 class="card-title bg-white mb-0">2023 DRY SUITS</h5>
                <p class="card-text bg-white mb-0">
                  This is a wider card with supporting text below as a natural
                </p>
                <p class="card-text bg-white">
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
