<div class="row">
  <div class="col-3"></div>
  <div class="col">
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid justify-content-center">
        <a class="mb" href="#">
          <img
            src="assets\IR-logo.png"
            class="mt-0 mb-3"
            alt="IR_Logo"
            height="80"
          />
        </a>
      </div>
    </nav>
  </div>
  <div class="col-3 bg-white">
    <div class="container-fluid row justify-content-end">
      <div class="col"></div>
      <div class="col-8">
        <a class="btn bg-transparent">LOGIN</a>
        <a class="btn">CART</a>
        <a class="btn"><img src="assets/icons/search.svg" /></a>
      </div>
    </div>
  </div>
</div>
