<div class="container">
  <div class="text-center">
    <h4>Create Account</h4>
    <h5 class="text-primary">______</h5>
  </div>
  <form
    class="mx-auto w-50 pb-3"
    #loginForm="ngForm"
    (ngSubmit)="createAccount()"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="exampleInputPassword1"
        [(ngModel)]="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>
</div>
