<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <div class="card text-end w-25%">
      <div class="card-body">
        <h5 class="card-title text-start">Dry Suits</h5>
        <p class="card-text">
          Two decades of development have lead us to create dependable dry wear
          for the most demanding athletes. Combining durability with a
          performance inspired fit, our dry suits thrive in the harshest
          environments.
        </p>
        <a href="#" class="btn btn-primary text-end">SHOP DRY SUITS</a>
      </div>
    </div>
  </div>
</div>
